<<<<<<< HEAD
=======

>>>>>>> f5df68868a61b090d6a057385594dfdf152e8148
@font-face {
    font-display: swap;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Rubik-Bold.woff2') format('woff2');
<<<<<<< HEAD
}
=======
}
>>>>>>> f5df68868a61b090d6a057385594dfdf152e8148
