// Importación de la fuente David Libre y Barlow Regular desde archivos locales

@font-face {
  font-display: swap;
  font-family: "David Libre";
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/DavidLibre-Regular.woff2') format('woff2');
      
}

@font-face {
  font-display: swap;
  font-family: "David Libre";
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/DavidLibre-Medium.woff2') format('woff2');
       
}

@font-face {
  font-display: swap;
  font-family: "David Libre";
  font-style: bold;
  font-weight: 700;
  src: url('../../public/fonts/DavidLibre-Bold.woff2') format('woff2');
  
}


  