@mixin paragraph {
    font-family: 'David Libre', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

@mixin component-paragraph {
    font-family: 'David Libre', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
  }
  
@mixin paragraph-long {
    font-family: 'David Libre', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
}