$--ads-colors-blue-40: #78a9ff;
$--ads-colors-blue-50: #4589ff;
$--ads-colors-blue-60: #0f62fe;
$--ads-colors-green-40: #42be65;
$--ads-colors-green-50: #24a148;
$--ads-colors-red-50: #fa4d56;
$--ads-colors-red-60: #da1e28;
$--ads-colors-red-70:  #C82333;
$--ads-colors-yellow-60: #ffc700;
$--ads-colors-white: #fff;
$--ads-background-disable: #ccc;
$--ads-background-active: #750101;
$--ads-font-size-primary: 1rem;
$--ads-font-size-first: 6rem;
$--ads-font-size-third: 8rem;
$--ads-font-size-second: 1.75rem;
$--ads-font-size-quarter: 2.5rem;
$--ads-font-size-fifth: 0.75rem;
$--ads-font-size-sixth: 0.938rem;
$--ads-font-weight-first: 400;
$--ads-font-weight-second: 800;

