.display {
  align-items: center;
  background-color: $--ads-colors-white1;
  border: 1px solid $--ads-colors-gray-20;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  color: $--ads-colors-gray1;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  height: 100px;
  justify-content: flex-end;
  letter-spacing: 1px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0 20px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  &.primary {
    background-color: $--ads-colors-white1;
    color: $--ads-colors-gray1;
  }

  &.secondary {
    background-color: $--ads-colors-red-60;
    color: $--ads-colors-white;
  }

  &.tertiary {
    background-color: $--ads-colors-gray1;
    color: $--ads-colors-white;
  }
}
