@import '../../../../globals/ads-variables.scss';

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed $--ads-colors-gray-4;
  border-radius: 5px;
  background-color: $--ads-colors-white;
  cursor: pointer;
  height: 250px;
  width: 400px;
  transition: border-color 0.3s, background-color 0.3s;

  &.image-selected--active {
    border-color: $--ads-colors-blue-60;
    background-color: $--ads-colors-light-gray;
  }
}

.error-message {
  color: $--ads-colors-red-60;
  font-size: 14px;
  margin-top: 10px;
}

img {
  height: 200px;
  width: 200px;
}
