form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  height: 250px;
  width: 400px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s, background-color 0.3s;

  &.imageSelected {
    border-color: #1475cf;
    background-color: #ccd5d9;
  }
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

img {
  width: 200px;
  height: 200px;
}