@import '../../../../globals/ads-variables.scss';
.btn-container {
  position: relative;
  display: inline-block;
}

.btn-secondary {
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  height: 48px;
  width: 140px;
  background-color: $--ads-colors-gray-80;
  color: $--ads-colors-white;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.btn--active {
  background-color: $--ads-colors-black;
  color: $--ads-colors-white;
}
.btn--hovered {
  background-color: $--ads-colors-gray-90;
  color: $--ads-colors-white;
}
.btn--focused {
  position: relative;
  border: 1px solid $--ads-colors-white;
  box-shadow: 0 0 0 2px $--ads-colors-gray-80;
}
.btn-secondary:disabled {
  background-color: $--ads-colors-gray-4;
  color: $--ads-colors-gray-50;
  cursor: default;
}
