@import '../../../../globals/ads-variables.scss';

.link {
    color: $--ads-colors-blue-50;
    font-family: barlow, sans-serif;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  
    &--small {
      font-size: 12px;
    }
  
    &--medium {
      font-size: 16px;
    }
  
    &--large {
      font-size: 20px;
    }
    
    &:hover {
        color: $--ads-colors-blue-60; 
        text-decoration: underline; 
        text-underline-offset: 4px;
      }

    &:enabled {
        color: $--ads-colors-blue-40;
    }

    &:active {
        color: $--ads-colors-gray-70; 
        text-decoration-thickness: 2px; 
        text-underline-offset: 4px; 
    }

    &--focus {
        color: $--ads-colors-blue-70; 
        text-decoration: underline; 
        text-decoration-thickness: 3px;
        text-underline-offset: 4px;
    }
    
    &:visited {
        color: $--ads-colors-purple-60; 
    }

    &--disabled {
        color: $--ads-colors-gray-4; 
        cursor: not-allowed; 

        &:hover{
            color:$--ads-colors-gray-4;
            cursor: not-allowed;
            text-decoration: none;
        }

        &:visited {
            color: $--ads-colors-gray-4; 
            cursor: not-allowed;
        }    
    }
  
  }