@import '../../../../globals/ads-variables.scss'; // Importa tus variables SCSS

.links {
  color: $--ads-colors-blue-70; // Color base
  text-decoration: none;

  &__text {
    font-size: 1rem;
  }

  // Variantes
  &--Small {
    font-size: 0.8rem; // Tamaño pequeño
  }

  &--Medium {
    font-size: 1rem; // Tamaño medio
  }

  &--Big {
    font-size: 1.2rem; // Tamaño grande
  }

  // Estados
  &--Active {
    text-decoration: underline; // Subrayado para el estado activo
    color: $--ads-colors-blue-90; // Color para el estado activo
  }

  &--Disabled {
    color: $--ads-colors-gray-40; // Color para el estado deshabilitado
    pointer-events: none;
    opacity: 0.65; // Opacidad reducida
  }

  &:hover {
    color: $--ads-colors-blue-50; // Cambia el color al pasar el ratón
  }

  &:focus {
    outline: 2px solid $--ads-colors-blue-80; // Estilo de enfoque
  }
}
