@import 'src/globals/ads-variables.scss';

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px;
    background-color: var(--ads-colors-gray-10);
  }
  
  .form-actions {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
  
  .save-button,
  .publish-button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-button {
    background-color: var(--ads-colors-blue-70);
    color: var(--ads-colors-gray-10);
  }
  
  .publish-button {
    background-color: var(--ads-colors-green-50);
    color: var(--ads-colors-gray-10);
  }  