@import '../../../../globals/ads-variables.scss';
@import '../../../../globals/mixins';

.variable-button {
  background: $--ads-colors-red-60;
  border: none;
  color: $--ads-colors-white;
  font-size: $--ads-font-size-primary;
  height: 48px;
  outline: $--ads-colors-red-60;
  padding-inline: 2rem;
  width: auto;

  &--Small {
    @include respond-to('small') {
      font-size: $--ads-font-size-fifth;
      height: 28px;
      padding-inline: 2rem;
    }

    &:focus {
      border: 2px solid $--ads-colors-white;
      outline: 2px solid $--ads-colors-red-60;
    }
  }

  &--Medium {
    @include respond-to('medium') {
      font-size: $--ads-font-size-primary;
      height: 40px;
      padding-inline: 2.5rem;
    }

    &:focus {
      border: 2px solid $--ads-colors-white;
      outline: 2px solid $--ads-colors-red-60;
    }
  }

  &--Big {
    @include respond-to('large') {
      font-size: $--ads-font-size-second;
      height: 72px;
      padding-inline: 3rem;
    }

    &:focus {
      border: 2px solid $--ads-colors-white;
      outline: 2px solid $--ads-colors-red-60;
    }
  }

  &--Active:active {
    background: $--ads-background-active;
  }

  &--Disable:disabled {
    background: $--ads-colors-gray-50;
  }

  &:hover {
    background-color: $--ads-colors-red-70;
  }
}