@import '../../../../globals/ads-variables.scss';
@import '../../../../globals/mixins';

.variable-button {
  align-items: center;
  background: $--ads-colors-red-70;
  border: none;
  color: $--ads-colors-white;
  display: flex;
  height: 48px ;
  outline: $--ads-colors-red-60;
  padding-inline: 0.5rem;
  padding-inline: 20px;
  width: auto;
  
  svg {
    padding-left: 10px;
    width: 25px;

    path {
      fill: white;
    }
  }

  &:focus {
    border: 2px solid $--ads-colors-white;
    outline: 2px solid $--ads-colors-red-60;
  }

  &--Small {
    height: 32px;
    padding-inline: 1rem;
  }

  &--Medium {
    &:focus {
      border: 2px solid $--ads-colors-white;
      outline: 2px solid $--ads-colors-red-60;
    }
  }

  &--Big {
    height: 64px;

    &:focus {
      border: 2px solid $--ads-colors-white;
      outline: 2px solid $--ads-colors-red-60;
    }
  }

  &--Active {
    background: $--ads-colors-red-80;
  }

  &--Disable {
    background: $--ads-colors-gray-40;
    cursor: not-allowed; 
    opacity: 0.6; 
    pointer-events: none;
  }

  &:hover {
    background-color: $--ads-colors-red-60;
  }
}