@import '../../../../globals/ads-variables.scss';
//tooltip
.tooltip { 
  display: inline-block;
  position: relative;
}
//text-tooltip
.tooltip-content {
  align-items: center;
  background-color: $--ads-colors-gray-100;
  border-radius: 5px;
  color:$--ads-colors-white;
  display: flex;
  justify-content: center;
  margin: 3px;
  padding: 5px;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;

}

.tooltip:hover .tooltip-content {
  visibility: visible;
}

.tooltip-top .tooltip-content {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  

}

.tooltip-bottom .tooltip-content{
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.tooltip-left .tooltip-content{
  bottom: 50%;
  right: 100%;
  transform: translateY(50%);
}

.tooltip-right .tooltip-content{
  bottom: 50%;
  left: 100%;
  transform: translateY(50%);
}

.tooltip-small .tooltip-content{
  font-size: $--ads-font-size-fifth;
    height: 20px;
}

.tooltip-medium .tooltip-content{
  font-size:$--ads-font-size-sixth;
    height: 25px;
}

.tooltip-large .tooltip-content{
  font-size: $--ads-font-size-primary;
    height: 30px;
  
}


