@import '../../../../globals/ads-variables';
@import '../../../../globals/mixins';
@import '../../../../globals/_fonts';

.management {
  background-color: $--ads-colors-gray-20;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  @include respond-to('medium') {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    @include respond-to('small-mobile') {
      flex-direction: row;
      gap: 0.5rem;
    }

    @include respond-to('medium') {
      flex-direction: row;
      gap: 1.875rem;
      margin-right: 2.5rem;
    }

    button {
      background-color: $--ads-colors-white;
      color: $--ads-colors-black;
      font-size: 0.875rem;
      padding: 0.5rem 1rem;
      transition: all 0.3s ease;

      @include respond-to('small-mobile') {
        font-size: 0.75rem;
        padding: 0.375rem 0.75rem;
      }
    }
  }
}

