@import '../../../../globals/ads-variables.scss';

.input-wrapper {
  height: 68px;
  opacity: 1;
  position: relative;
  width: 288px;
}

.input-container {
  position: relative;
}

.input {
  border: 1px solid transparent;
  border-radius: 4px;
  height: 48px;
  opacity: 1;
  padding-right: 40px;
  transition: border-color 0.3s;
  width: 288px;

  // Estilo para estado de error
  &.error {
    border-color: $--ads-colors-red-60;
  }

  &:disabled {
    background-color: $--ads-colors-gray-10;
  }
}

.icon {
  color: $--ads-colors-red-60;
  height: 14px;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); /* Centrado vertical */
  width: 14px;
}

.error-message {
  color: $--ads-colors-red-60;
  margin-top: 4px;
}
