.btn-container {
  position: relative;
  display: inline-block;
}

.btn-secondary {
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  height: 48px;
  width: 48px;
  background-color: #393939;
  color: #FFFFFF;

  &--small {
    height: 48px;
    width: 48px;
  }

  &--medium {
    height: 60px;
    width: 60px;
  }

  &--large {
    height: 80px;
    width: 80px;
  }

  &:hover:not([disabled]) {
    background-color: #4C4C4C;
  }
}

.btn-secondary:disabled {
  background-color: #C6C6C6;
  color: #8D8D8D;
  cursor: default;
}

.tooltip {
  width: 66px;
  line-height: 28px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #161616;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  z-index: 10;
  opacity: 0.8;

  &::after {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #161616;
  }
}
