@import '../../../../globals/ads-variables.scss';
@import '../../../../globals/fonts.scss';
@import '../../../../globals/breakpoints';
@import '../../../../globals/mixins';

@mixin table-size($size, $gap, $max-width, $padding) {
  &.#{$size} {
    gap: $gap;
    max-width: $max-width;
    padding: $padding;
  }
}

@mixin respond-to($breakpoint) {
  @if map-has-key($--ads-breakpoints-scales, $breakpoint) {
    @media (min-width: map-get($--ads-breakpoints-scales, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint not found: #{$breakpoint}.";
  }
}

@mixin respond-to-max($breakpoint) {
  @if map-has-key($--ads-breakpoints-scales, $breakpoint) {
    @media (max-width: map-get($--ads-breakpoints-scales, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint not found: #{$breakpoint}.";
  }
}

.table-v2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Barlow, sans-serif;
  padding: 1rem;
  width: 100%;

  @include table-size('small', 0.25rem, 29.125rem, 0.75rem);
  @include table-size('medium', 0.375rem, 39.125rem, 1rem);
  @include table-size('large', 0.5rem, 52rem, 1.25rem);
}

.header-container {
  box-sizing: border-box;
  display: flex;
  font-size: inherit;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0rem;

  @include table-size('small', null, null, 0rem);
  @include table-size('medium', null, null, 0rem);
  @include table-size('large', null, null, 0rem);
}

.info-actions-container {
  align-items: center;
  display: flex;
  gap: 0.125rem;
  width: 100%;

  @include respond-to-max('medium') {
    flex-direction: column;
    gap: 0.75rem;
  }
}

.info-section {
  background-color: $--ads-colors-gray-10;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  height: 10.0625rem;
  overflow: hidden;

  @include respond-to('medium') {
    max-width: 27.5rem;
    width: 100%;
  }

  @include respond-to-max('medium') {
    max-width: 30rem;
    width: 100%;
  }

  p {
    color: $--ads-colors-gray-70;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0.125rem 1.875rem 0.125rem 0.9375rem;
    overflow-wrap: break-word;
  }
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}

.actions-container {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  width: 37%;

  @include respond-to-max('medium') {
    flex-flow: row wrap;
    gap: 0.25rem;
    justify-content: space-between;
    width: 100%;
  }
}

.actions-container .button {
  margin-top: 0.5rem;
}
