@import '../../../../globals/ads-variables';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap');

.btn-container {
  position: relative;
  display: inline-block;
}

.btn-main {
  align-items: center;
  border: none;
  display: inline-flex;
  justify-content: center;
  height: 48px;
  width: 143px;
  font-family: 'Barlow', sans-serif;
  background-color: $--ads-colors-white;
  color: $--ads-colors-blue-60;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;

  .btn-icon-square {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    border-radius: 4px;
    font-size: 18px;
    color: currentColor;
  }

  &--small {
    height: 40px;
    width: 40px;
  }

  &--medium {
    height: 48px;
    width: 48px;
  }

  &--large {
    height: 160px;
    width: 160px;
  }

  &:hover:not([disabled]) {
    background-color: #ecf2ff;
  }

  &:active:not([disabled]) {
    background-color: #d0e2ff;
  }

  &:focus {
    box-shadow:
      inset 0 0 0 2px $--ads-colors-blue-60,
      inset 0 0 0 4px $--ads-colors-white;
  }

  &:disabled {
    background-color: $--ads-colors-white;
    color: $--ads-colors-gray-50;
    cursor: pointer;
  }
}

.btn-icon {
  font-size: 14px;
}
