.tag {
  font-family: 'Roboto', sans-serif; 
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 999px;
  font-size: 14px; 
  text-align: center;
  transition: opacity 0.2s;

  &--small {
    font-size: 12px;
  }

  &--medium {
    font-size: 14px;
  }

  &--large {
    font-size: 16px;
  }

  &--primary {
    background-color: #e0e0e0; 
    color: black;
  }

  &--secondary {
    background-color: #a2a2a2;
    color: black;
  }

  &--tertiary {
    background-color: #e0e0e0;
    border: 3px solid #007bff; 
    color: black;
  }

  &--disabled {
    background-color: #e0e0e0; 
    color: rgba(85, 85, 85, 0.5);
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:focus {
    outline: 2px solid #007bff;
    outline-offset: 2px;
  }
}
