@import 'src/globals/ads-variables.scss';

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
  
.input-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
  
.input-box {
    height: 40px;
    border: 1px solid var(--ads-colors-gray-10);
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    color: var(--ads-colors-gray-80);
}  